{{> header}}
<main id="home-logged">
    <section class="first-section">
        <section class="background-container">
            <form action="/edit/{{post.postId}}" method="POST" class="edit-form">
                <h1>Edit Post</h1>
                <label for="title">Title</label>
                <input type="text" name="title" value="{{post.title}}">
                <label for="category">Category</label>
                <input type="text" name="category" value="{{post.category}}">
                <label for="content">Content</label>
                <textarea name="content" cols="30" rows="7">{{post.content}}</textarea>
                <button>Edit</button>
                <a href="/" id="close-btn"><img src="../../images/close.png"></a>
            </form>
        </section>
    </section>
    <section class="second-section">
        <h3>Posts</h3>
        <hr>
        <div class="posts-row">
            {{#each posts}}
            <article class="post">
                <h1>{{this.title}}</h1>
                <h2><span>{{this.category}}</span></h2>
                <p>{{this.content}}</p>
                <a href="/delete/{{postId}}" id="delete-button">Delete</a>
                <a href="/details/{{postId}}" id="details-button">Details</a>
                <a href="/edit/{{postId}}" id="edit-button">Edit</a>
            </article>
            {{!-- {{> postPartial}} --}}
            {{else}}
            <span></span>
            {{/each}}
        </div>
    </section>
</main>