<section class="expense-report">

    <h1>ID: {{expense._id}}</h1>

    <div class="report-category">
        <img src="/static/images/amount.png" alt="">
        <p>{{expense.category}} - лв {{expense.total}}</p>
    </div>

    <div class="report-merchant">
        <p>{{expense.merchant}}</p>
    </div>

    <div class="report-description">
        <img src="/static/images/hastag.png" alt="">
        <p>{{expense.description}}</p>
    </div>

    <div class="report-action">
        <a disabled href="/expense/{{expense._id}}/stop">Stop tracking</a>
    </div>
</section>