<a href="#/details/{{this.id}}" class="added-destination">
    <img src="{{this.imgUrl}}"
        alt="" class="picture-added-destination">
    <h3>{{this.destination}}</h3>
    <span>to {{this.city}} </span><span>{{this.departureDate}}</span>
</a>