{{> header}}

<section class="notifications" style="display: none;">
    <p class="notification-message" id="errorBox">Message...</p>
</section>
<section class="notifications" style="display: none;background-color:rgba(1, 131, 29, 0.541);">
    <p class="notification-message" id="successBox">Message...</p>
</section>


<div class="container">
    <div class="row bg-light text-dark">
        <h1>Movie title: {{movie.title}}</h1>

        <div class="col-md-8">
            <img class="img-thumbnail" src="{{movie.imageUrl}}" alt="Movie">
        </div>
        <div class="col-md-4 text-center">
            <h3 class="my-3 ">Movie Description</h3>
            <p>{{movie.description}}</p>
            {{#if isCreator}}
                <a class="btn btn-danger" href="#/delete/{{movie.movieId}}">Delete</a>
                <a class="btn btn-warning" href="#/edit/{{movie.movieId}}">Edit</a>
            {{else}}
                {{#if isLiked}}
                    <span class="enrolled-span">Liked {{this.likes}}</span>
                {{else}}
                    <a class="btn btn-primary" href="#/like/{{movie.movieId}}">Like</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
{{> footer}}