<a href="/hotel/{{_id}}/details" class="added-hotel">
    <img src="{{imgUrl}}" alt="{{hotel}}"
        class="picture-added-hotel">
    <h3>{{hotel}}</h3>
    <span>Free rooms: {{free-rooms}}</span>
</a>